@model SistemaRH.Models.Pagamento

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Pagamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DataPagamento" class="control-label"></label>
                <input asp-for="DataPagamento" class="form-control" />
                <span asp-validation-for="DataPagamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdFuncionarioSalario" class="control-label"></label>
                <input asp-for="IdFuncionarioSalario" class="form-control" />
                <span asp-validation-for="IdFuncionarioSalario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalarioLiquido" class="control-label"></label>
                <input asp-for="SalarioLiquido" class="form-control" />
                <span asp-validation-for="SalarioLiquido" class="text-danger"></span>
            </div>
            <div class="form-group py-2">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">De volta à lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
