@model SistemaRH.AliquotaDetalhe

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Detalhes da alíquota</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="IdAliquota" />
            <div class="form-group">
                <label asp-for="BaseCalculo" class="control-label"></label>
                <input asp-for="BaseCalculo" type="number" class="form-control" />
                <span asp-validation-for="BaseCalculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Porcentagem" class="control-label"></label>
                <input asp-for="Porcentagem" type="number" class="form-control" />
                <span asp-validation-for="Porcentagem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        @ViewBag.ErrorMessage
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
